@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Anek Telugu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
